@font-face {
    font-family: "Noto Sans Lao Regular";
    src: url("./aec907da6ddc0232418067ecacb324a2.eot"); /* IE9*/
    src: url("./aec907da6ddc0232418067ecacb324a2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./aec907da6ddc0232418067ecacb324a2.woff2") format("woff2"), /* chrome、firefox */
    url("./aec907da6ddc0232418067ecacb324a2.woff") format("woff"), /* chrome、firefox */
    url("./aec907da6ddc0232418067ecacb324a2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("./aec907da6ddc0232418067ecacb324a2.svg#Noto Sans Lao Regular") format("svg"); /* iOS 4.1- */
    font-weight: normal;
  font-style: normal;
  }